#container {
  width: 400px;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 4px 16px -4px black;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#container h4 {
  margin: 0 0 6px 0;
}
input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #e7e7e7;
}
ul {
  list-style-type: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}

.list {
  margin: 15px 0;
}

.footer {
  display: flex;
  justify-content: end;
  padding-top: 12px;
}

.footer button {
  padding: 6px 32px;
}
